<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="client" class="appWithoutStrictBinding.Client">
        <constructor-arg  value="1"/>
        <constructor-arg  value=" John Smith"/>
    </bean>

    <bean id="eventLogger" class="appWithoutStrictBinding.ConsoleEventLogger" />

    <bean id="app" name="mainApplication" class="appWithoutStrictBinding.App">
        <constructor-arg index="0" ref="client"/>
        <constructor-arg index="1" ref="eventLogger"/>
    </bean>

</beans>